.myAccordionOpen {
  background-color: #fffdd0 !important;
}

.myAccordionClose {
  background-color: #9fe2bf !important;
}

.myAccordionDeleted {
  background-color: rgba(255, 0, 0, 0.5) !important;
}
